@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head>
<body>
    <div class="container bg-white">
        <div class="intro-grid">
            <div class="sub-intro-grid">
                <div class="headshot position-relative fade-in">
                    <img src="~/images/Angelo_About_IMG.JPG" alt="Angelo Liwanag Selfie">
                </div>
                <div></div>
                <div class="introduction">
                    <h2 class="spicy-title">INTRODUCTION</h2>
                    <p>
                        Hey there, thanks for stopping by! My name is Angelo Liwanag and I’m a 
                        self-driven Full-Stack Engineer currently attending California State University, 
                        Long Beach as a Business Economics Undergraduate. I have a strong desire 
                        to learn about programming outside of Business, while also having hands-on 
                        experience with three different full-stack languages: Python Django, MEAN/MERN, 
                        and C#.NET. I have a strong passion for Web Development, as it allows me to 
                        create, design and complex problem solve. I strive to continuously influence 
                        others and improve upon my skill set as an engineer. Lastly, I’m a strong team 
                        player who can compromise and communicate efficiently and effectively.
                    </p>
                </div>

                <div class="skill-sets text-left">
                    <h3>Technical Skills</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Languages:</span> Python, JavaScript, C#, CSS3, HTML5</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Frameworks/Libraries:</span> Django, Angular, React, Express.js, Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, jQuery</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Databases:</span> MySQL, NoSQL, MongoDB</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">UX/UI Softwares:</span> AdobeXD, Adobe Illustrator, Photoshop</p>
                </div>

                <div class="skill-sets mr-2">
                    <h3>Soft Skills</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Leadership:</span> Conflict Resolver, Decision Influencer, Maker, Motivator</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Critical Thinking:</span> Creator, Designer, Complex Problem Solver</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Team Player:</span> Collaborative, Open Minded, Reliable</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Communication:</span> Active Listener, Clear, Concise</p>
                </div>

                <div class="skill-sets">
                    <h3>Personal Values</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Principles:</span> Bold, Continuous Improvement, Diverse, Excellence, Honest, Integrity, Self-worth</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Positivity:</span> Enthusiastic, Patient, Respectful</p>
                </div>
            </div>
        </div>
        <div class="skill-sets-desktop m-3">
            <div class="row m-3">
                <div class="col-sm-12 col-md-4">
                    <h3>Technical Skills</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Languages:</span> Python, JavaScript, C#, CSS3, HTML5</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Frameworks/Libraries:</span> Django, Angular, React, Express.js, Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, jQuery</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Databases:</span> MySQL, NoSQL, MongoDB</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">UX/UI Softwares:</span> AdobeXD, Adobe Illustrator, Photoshop</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h3>Soft Skills</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Leadership:</span> Conflict Resolver, Decision Influencer, Maker, Motivator</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Critical Thinking:</span> Creator, Designer, Complex Problem Solver</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Team Player:</span> Collaborative, Open Minded, Reliable</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Communication:</span> Active Listener, Clear, Concise</p>
                </div>

                <div class="col-sm-12 col-md-4">
                    <h3>Personal Values</h3>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Principles:</span> Bold, Continuous Improvement, Diverse, Excellence, Honest, Integrity, Self-worth</p>
                    <p class="text-size"><span style="font-weight: 1000;" class="text-primary">Positivity:</span> Enthusiastic, Patient, Respectful</p>
                </div>
            </div>
        </div>
    </div>
</body>