@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head>
<div class="container bg-white">
    <div class="contact-grid">
        <div class="d-flex">
            <div>
                <h3 class="spicy-title">Get in touch</h3>   
                <div class="pt-3">
                    <h5><i class="far fa-envelope text-primary text-size"></i>Email</h5>
                    <a class="d-inline-block text-size">angeloliwanag75@gmail.com</a>
                </div>
                <div class="pt-3">
                    <h5><i class="fab fa-github-square text-primary"></i>Github</h5>
                    <a class="d-inline-block text-secondary text-size" target="_blank" href="https://github.com/AngeloLiwanag\">github.com/AngeloLiwanag</a>
                </div>
                <div class="pt-3">
                    <h5><i class="fab fa-linkedin text-primary"></i>LinkedIn</h5>
                    <a class="d-inline-block text-secondary text-size" target="_blank" href="https://www.linkedin.com/in/angelo-liwanag/">linkedin.com/in/angelo-liwanag</a>
                </div>
                <div class="pt-3">
                    <h5><i class="fas fa-map-marker-alt text-primary text-size"></i>Location</h5>
                    <a class="d-inline-block text-size">Long Beach, CA</a>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>
<script>
    function initMap() {
    // Styles a map in night mode.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 33.7701, lng: -118.1937},
        zoom: 12,
        styles: [
        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
        {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{color: '#263c3f'}]
        },
        {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{color: '#6b9a76'}]
        },
        {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{color: '#38414e'}]
        },
        {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{color: '#212a37'}]
        },
        {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{color: '#9ca5b3'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{color: '#746855'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{color: '#1f2835'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{color: '#f3d19c'}]
        },
        {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{color: '#2f3948'}]
        },
        {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{color: '#17263c'}]
        },
        {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{color: '#515c6d'}]
        },
        {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{color: '#17263c'}]
        }
        ]
    });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADO3yb-vlw0JywwS1Gu7Yw9f-53_AtmJI&callback=initMap"
async defer></script>
