@{
    ViewData["Title"] = "Home";
}
@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head> *@
@* <div class="container hero-grid view-port">
    <div class="mobile-switch-home">
        <div class="selfie-switch position-relative">
            <img class="selfie-img img-fluid" src="~/images/Angelo_Selfie_IMG.png" alt="Angelo Liwanag's Selfie">
            <a asp-controller="Home" asp-action="Resume" class="position-absolute btn btn-outline-light w-50">View Resume</a>
        </div>
        <div class="hero-container">
            <img class="hero-img img-fluid" src="~/images/Hero_IMG.png" alt="">
            <div class="divider"></div>
            <span class="blurb text-primary mt-3 mb-3" style="font-family: 'Playfair Display', serif;">FULL-STACK ENGINEER</span>
            <a asp-controller="Home" asp-action="Resume" class="btn btn-outline-primary">View Resume</a>
        </div>
    </div>
</div> *@
<!-- Navbar -->

<nav class="navbar-container container">
    <a href="#landing" class="nav-logo">
        <span class="nav-photo"></span>
        <span class="nav-name">Angelo Liwanag</span>
        <span> | </span>
        <span class="nav-occupation">Full-Stack Software Engineer</span>
    </a>
    <div class="desktop-links nav-links">
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#connect">Connect</a>
        <a href="javascript:void(0)"class="resume-btn">Resume</a>
    </div>
    <div class="mobile-links nav-links">
        <div class="toggle-nav">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
        <div id="myNav" class="overlay">
            <a style="font-size:50px;cursor:pointer" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="#landing" onclick="closeNav()">Home</a>
                <a href="#projects" onclick="closeNav()">Projects</a>
                <a href="#about" onclick="closeNav()">About</a>
                <a href="#skills" onclick="closeNav()">Skills</a>
                <a href="#connect" onclick="closeNav()">Connect</a>
                <a class="resume-btn">Resume</a>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navbar -->

<!-- Landing -->
<div id="landing" class="landing-container container">
    <section class="introduction-container">
        <div>
            <h1>Angelo Liwanag</h1>
            <hr>
            <span>Software&nbsp;Engineer.&nbsp;Based&nbsp;in&nbsp;Long&nbsp;Beach,&nbsp;CA.</span>
            <span>Expanding&nbsp;my&nbsp;creative&nbsp;visions&nbsp;with&nbsp;code.</span>
            <br>
            <button class="resume-btn">VIEW RESUME</button>
            <div class="social">
                <svg id="LinkedIn-icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <path id="Path_57" data-name="Path 57" d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,1,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <g id="Github-Icon" transform="translate(-46 -1)">
                    <circle id="Ellipse_4" data-name="Ellipse 4" cx="17" cy="17" r="17" transform="translate(46 1)"/>
                    <path id="Path_58" data-name="Path 58" d="M11.918,33.967s1.2-.37,1.2-.828c0-.414-.022-1.787-.022-3.246-4.379.806-5.512-1.068-5.861-2.048a6.338,6.338,0,0,0-1.787-2.462c-.61-.327-1.482-1.133-.022-1.155A3.488,3.488,0,0,1,8.1,26.014a3.726,3.726,0,0,0,5.076,1.438,3.666,3.666,0,0,1,1.111-2.331c-3.878-.436-7.931-1.939-7.931-8.606a6.783,6.783,0,0,1,1.787-4.684,6.263,6.263,0,0,1,.174-4.619S9.783,6.754,13.116,9a16.433,16.433,0,0,1,8.715,0c3.333-2.266,4.793-1.787,4.793-1.787a6.263,6.263,0,0,1,.174,4.619,6.744,6.744,0,0,1,1.787,4.684c0,6.689-4.074,8.17-7.952,8.606a4.128,4.128,0,0,1,1.177,3.225c0,2.331-.022,4.2-.022,4.793,0,.458.327,1,1.2.828" transform="translate(46 -1)" fill="#fff" fill-rule="evenodd"/>
                </g>
                </svg>
            </div>
        </div>
    </section>
    <section class="description-container">
        <div></div>
    </section>
</div>
<!-- End of Landing -->

<!-- Projects -->
<div id="projects" class="projects-container container">
    <section class="blurb-container">
        <span>
            Don’t&nbsp;be&nbsp;shy.<br>
            Come&nbsp;take&nbsp;a<br>
            look.<br>
        </span>
    </section>
    <section class="card-container">
        <div class="project-card">
            <div class="project-img"></div>
            <div class="project-detail">
                <h3>Bright Event Rentals</h3>
                <p>The Bright Event Rentals website is a special event rental company that provides unforgettable details for life's memorable experiences. The website promotes user engagement by displaying their latest products featured on their Instagram and strategically sends personal connection emails to their customers.
                </p>
                <a href="https://bright.com/" target="_blank">
                    VISIT WEBSITE
                </a>
            </div>
        </div>
        <div class="project-card">
            <div class="project-img"></div>
            <div class="project-detail">
                <h3>American Rentals</h3>
                <p>The American Rentals website provides a variety of rental equipment for the construction industry. The website features translations from English to Spanish, important fillable documents, and specific calculators, thereby promoting sales and interaction.
                </p>
                <a href="https://american-rentals.com/" target="_blank">VISIT WEBSITE</a>
            </div>
        </div>
        <div class="project-card">
            <div class="project-img"></div>
            <div class="project-detail">
                <h3>Auto-Checkout Bot</h3>
                <p>The Supreme New York auto-checkout bot 
                    is designed to filter through products and 
                    bypass re-captcha in less than 2-3 seconds 
                    with no delay.</p>
                <button>VIEW DEMO</button>
            </div>
        </div>
    </section>
</div>
<!-- End of Projects -->

<!-- About -->
<div id="about" class="about-container container">
    <section class="about-blurb">
        <span>
            Now&nbsp;that&nbsp;you’ve<br>
            seen&nbsp;my&nbsp;work.<br>
            Let&nbsp;me&nbsp;introduce<br>
            myself.<br>
        </span>
        <div class="social">
            <svg id="LinkedIn-White-icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <path id="Path_57" data-name="Path 57" d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,1,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" fill="#fff"/>
            </svg>
                
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <g id="Github-White-Icon" transform="translate(-46 -1)">
                    <circle id="Ellipse_4" data-name="Ellipse 4" cx="17" cy="17" r="17" transform="translate(46 1)" fill="#fff"/>
                    <path id="Path_58" data-name="Path 58" d="M11.918,33.967s1.2-.37,1.2-.828c0-.414-.022-1.787-.022-3.246-4.379.806-5.512-1.068-5.861-2.048a6.338,6.338,0,0,0-1.787-2.462c-.61-.327-1.482-1.133-.022-1.155A3.488,3.488,0,0,1,8.1,26.014a3.726,3.726,0,0,0,5.076,1.438,3.666,3.666,0,0,1,1.111-2.331c-3.878-.436-7.931-1.939-7.931-8.606a6.783,6.783,0,0,1,1.787-4.684,6.263,6.263,0,0,1,.174-4.619S9.783,6.754,13.116,9a16.433,16.433,0,0,1,8.715,0c3.333-2.266,4.793-1.787,4.793-1.787a6.263,6.263,0,0,1,.174,4.619,6.744,6.744,0,0,1,1.787,4.684c0,6.689-4.074,8.17-7.952,8.606a4.128,4.128,0,0,1,1.177,3.225c0,2.331-.022,4.2-.022,4.793,0,.458.327,1,1.2.828" transform="translate(46 -1)" fill="#0e1421" fill-rule="evenodd"/>
                </g>
                </svg>
        </div>
    </section>
    <div class="about-grid">
        <section class="about-photo"></section>
        <section class="about-info">
            <span>
                My name is Angelo Liwanag and I’m a self-driven 
                Full-Stack Engineer with a bachelor’s degree in
                Business Economics. I have a strong desire to learn 
                about programming outside of Business, while also 
                having hands-on experience with three different 
                full-stack languages: Python Django, MEAN/MERN, 
                and C#.NET. I have a strong passion for Web 
                Development, as it allows me to create, design 
                and complex problem solve. I strive to continuously
                influence others and improve upon my skill set as 
                an engineer. Lastly, I’m a strong team player who 
                can compromise and communicate efficiently 
                and effectively.
            </span>
        </section>
    </div>
</div>
<!-- End of About -->

<!-- Skills -->
<div id="skills" class="skills-container container">
    <section class="blurb-container">
        <span>
            I’m&nbsp;also&nbsp;not<br>
            afraid&nbsp;to&nbsp;learn<br>
            new&nbsp;things.<br>
        </span>
    </section>
    <section class="card-container">
        <div class="skill-card">
            <h3>Technical Skills</h3>
            <span><b>Languages:</b> Python, JavaScript, C#, CSS3, HTML5</span>
            <span><b>Frameworks/Libraries:</b> Django, Angular, React, Express.js, 
                Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, 
                jQuery</span>
            <span><b>Databases:</b> MySQL, NoSQL, MongoDB</span>
            <span><b>UX/UI Softwares:</b> AdobeXD, Adobe Illustrator, Photoshop</span>
        </div>
        <div class="skill-card">
            <h3>Soft Skills</h3>
            <span><b>Leadership:</b> Conflict Resolver, Decision Influencer, Maker, Motivator</span>
            <span><b>Critical Thinking:</b> Creator, Designer, Complex Problem Solver</span>
            <span><b>Team Player:</b> Collaborative, Open Minded, Reliable</span>
            <span><b>Communication:</b> Active Listener, Clear, Concise</span>
        </div>
        <div class="skill-card">
            <h3>Personal Values</h3>
            <span><b>Principles:</b> Bold, Continuous Improvement, Diverse, Excellence, Honest, Integrity, Self-worth, Diversity, Inclusion</span>
            <span><b>Positivity:</b> Enthusiastic, Patient, Respectful</span>
        </div>
    </section>
</div>
<!-- End of Skills -->

<!-- Connect -->
<div id="connect" class="connect-container container">
    <section class="connect-blurb">
        <span>
            Thank&nbsp;you&nbsp;for<br>
            making&nbsp;it&nbsp;this<br>
            far!&nbsp;Let's&nbsp;connect.<br>
        </span>
        <div class="social">
            <svg id="LinkedIn-White-icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <path id="Path_57" data-name="Path 57" d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,1,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" fill="#fff"/>
            </svg>
                
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                <g id="Github-White-Icon" transform="translate(-46 -1)">
                    <circle id="Ellipse_4" data-name="Ellipse 4" cx="17" cy="17" r="17" transform="translate(46 1)" fill="#fff"/>
                    <path id="Path_58" data-name="Path 58" d="M11.918,33.967s1.2-.37,1.2-.828c0-.414-.022-1.787-.022-3.246-4.379.806-5.512-1.068-5.861-2.048a6.338,6.338,0,0,0-1.787-2.462c-.61-.327-1.482-1.133-.022-1.155A3.488,3.488,0,0,1,8.1,26.014a3.726,3.726,0,0,0,5.076,1.438,3.666,3.666,0,0,1,1.111-2.331c-3.878-.436-7.931-1.939-7.931-8.606a6.783,6.783,0,0,1,1.787-4.684,6.263,6.263,0,0,1,.174-4.619S9.783,6.754,13.116,9a16.433,16.433,0,0,1,8.715,0c3.333-2.266,4.793-1.787,4.793-1.787a6.263,6.263,0,0,1,.174,4.619,6.744,6.744,0,0,1,1.787,4.684c0,6.689-4.074,8.17-7.952,8.606a4.128,4.128,0,0,1,1.177,3.225c0,2.331-.022,4.2-.022,4.793,0,.458.327,1,1.2.828" transform="translate(46 -1)" fill="#0e1421" fill-rule="evenodd"/>
                </g>
            </svg>
        </div>
    </section>
    <div class="connect-grid">
        <section id="map" class="connect-map"></section>
        <section class="connect-info">
            <form>
                <fieldset>
                    <div class="form-group mb-4">
                    <label>Name *</label>
                    <input type="text" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                    <label>Email address *</label>
                    <input type="email" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                    <label>Subject *</label>
                    <input type="text" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                    <label>Message *</label>
                    <textarea type="text" class="form-control" name="" cols="5" rows="10"></textarea>
                    </div>
                    <button>SUBMIT</button>
            </form>
        </section>
    </div>
</div>
<!-- End of Connect -->

<!-- Light Boxes -->
<div id="resume">
</div>

<div id="project-video">
</div>
<!-- End of Light Boxes -->

<!-- Footer -->
<div class="footer container">
    <div>
        <span>©ANGELO LIWANAG 2020. ALL RIGHTS RESERVED.</span> 
        <span>WEBSITE BY YOURS TRULY.</span>
    </div>
</div>
<!-- End of Footer -->

<script>
    function initMap() {
    // Styles a map in night mode.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 33.7701, lng: -118.1937},
        zoom: 12,
        styles: [
        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
        {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{color: '#263c3f'}]
        },
        {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{color: '#6b9a76'}]
        },
        {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{color: '#38414e'}]
        },
        {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{color: '#212a37'}]
        },
        {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{color: '#9ca5b3'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{color: '#746855'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{color: '#1f2835'}]
        },
        {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{color: '#f3d19c'}]
        },
        {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{color: '#2f3948'}]
        },
        {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
        },
        {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{color: '#17263c'}]
        },
        {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{color: '#515c6d'}]
        },
        {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{color: '#17263c'}]
        }
        ]
    });
    }

    // ---------------------------------------------------
    //
    // -- Nav Bar JavaScript
    //
    // ---------------------------------------------------
    $(window).scroll(function() {
        if ($(window).scrollTop() > 1) {
            $(".navbar-container").css({
                backgroundColor : "white",
                boxShadow : "0px 3px 7px rgb(0, 0, 0, .3)"
            });
            $(".desktop-links a").css("color", "#0E1421");
        } else {
            $(".navbar-container").css({
                backgroundColor : "transparent",
                boxShadow : "none"
            });
            $(".desktop-links a").css("color", "#ffffff");
            
        }
    })

    if ($(window).width() < 1285) {
        $(".nav-logo span, .toggle-nav span").css({
            color : "white"
        });
        $(window).scroll(function() {
            if ($(window).scrollTop() > 1) {
                $(".nav-logo span, .toggle-nav span").css({
                    color : "#0E1421"
                })
            } else {
                $(".nav-logo span, .toggle-nav span").css({
                    color : "#ffffff"
                })
            }
        });
    } else {
        $(".nav-logo span, .toggle-nav span").css({
            color : "#0E1421"
        });
    }

    $(window).resize(function(){
        if ($(window).width() < 1285) {
            $(".nav-logo span, .toggle-nav span").css({
                color : "white"
            })

            if ($(window).scrollTop() > 1) {
                $(".nav-logo span, .toggle-nav span").css({
                    color : "#0E1421"
                })
            } else {
                $(".nav-logo span, .toggle-nav span").css({
                    color : "#ffffff"
                })
            }

            $(window).scroll(function() {
                if ($(window).scrollTop() > 1) {
                    $(".nav-logo span, .toggle-nav span").css({
                        color : "#0E1421"
                    })
                } else {
                    $(".nav-logo span, .toggle-nav span").css({
                        color : "#ffffff"
                    })
                }
            })

        } else {
            $(".nav-logo span, .toggle-nav span").css({
                color : "#0E1421"
            })

            $(window).scroll(function() {
                if ($(window).scrollTop() > 1) {
                    $(".nav-logo span, .toggle-nav span").css({
                        color : "#0E1421"
                    })
                } else {
                    $(".nav-logo span, .toggle-nav span").css({
                        color : "#0E1421"
                    })
                }
            })
        }

    });

    function openNav() {
        document.getElementById("myNav").style.height = "100vh"; 
        $("html").css({
            "overflow" : "hidden"
        });
        $(".mobile-links .toggle-nav").css({
            "display" : "none"
        });
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0vh";
        $("html").css({
            "overflow" : "auto"
        });
        $(".mobile-links .toggle-nav").css({
            "display" : "inline-block"
        });
    }



    // ---------------------------------------------------
    //
    // -- Landing JavaScript
    //
    // ---------------------------------------------------




    // ---------------------------------------------------
    //
    // -- Projects JavaScript
    //
    // ---------------------------------------------------
    class ProjectLightbox {
        constructor() {
            this.data = {};
            this.length = 0;
            this.initClick();
            this.initModal();
        }

        initClick() {
            let projects = document.querySelectorAll(".card-container button");
            for (var i = 0; i < projects.length; i++) {
                (function(index){
                    projects[i].onclick = function(){
                        openProjectLightBox(index) ;
                    }    
                })(i);
            }
        }
        initModal() {
            let projectVideo = document.getElementById("project-video");
            let modal = document.createElement('div');

            modal.setAttribute("id", "project-modal");
            modal.classList.add("turn-off-light");

            let codeBlock = '<div class="modal-content">' + 
                                '<span class="close cursor" onclick="closeProjectModal()">&#10005;</span>' +
                                '<div id="projectModal"></div>'+
                            '</div>';
            modal.innerHTML = codeBlock;
            projectVideo.insertAdjacentElement("afterend", modal)
        }
    }

    const newProjectLightbox = new ProjectLightbox();
    let i = 0;

    function openProjectLightBox(index) {
        closeNav();
        i = index;
        $("html").css({
            "overflow" : "hidden"
        })
        let myModal = document.getElementById("project-modal");
        let projectModal = document.getElementById("projectModal");
        let codeBlock = '<video style="width: 100%; object-fit: cover" class="img-thumbnail img-fluid shadow project mb-5" controls>' +
        '<source src="/uploads/UNTITLED BOT.mp4" type="video/mp4">' +
        '<source src="/uploads/UNTITLED BOT.mp4" type="video/ogg">' +
        'Your browser does not support HTML video.' +
        '</video>';

        
        projectModal.innerHTML = codeBlock;
        myModal.classList.remove("turn-off-light");
        myModal.classList.add("turn-on-light");

    }

    function closeProjectModal() {
        let myModal = document.getElementById("project-modal");

        myModal.classList.remove("turn-on-light");
        myModal.classList.add("turn-off-light");
        $("html").css({
            "overflow" : "auto"
        });
    }




    // ---------------------------------------------------
    //
    // -- About JavaScript
    //
    // ---------------------------------------------------




    // ---------------------------------------------------
    //
    // -- Skills JavaScript
    //
    // ---------------------------------------------------




    // ---------------------------------------------------
    //
    // -- Connect JavaScript
    //
    // ---------------------------------------------------
    var cw = $('.connect-grid').width() / 2;
    $('.connect-grid .connect-info').css({'height':cw+'px', "width": cw+"px"});
    $(".connnect-grid .connect-map").css({
        "width" : cw+"px",
        "height" : cw+"px"
    })

    if ($(window).width() < 1285) {
        var cw = $('.connect-grid').width();
        $('.connect-grid .connect-info').css({
            'width':cw+'px',
            'height':cw+"px",
        });

    } else {
        var cw = $('.connect-grid').width() / 2;
        $('.connect-grid .connect-info').css({'height':cw+'px', "width": cw+"px"});
        $(".connnect-grid .connect-map").css({
            "width" : cw+"px",
            "height" : cw+"px"
        })
    }

    $(window).resize(function(){
        if ($(window).width() < 1285) {
            var cw = $('.connect-grid').width();
            $('.connect-grid .connect-info').css({
                'width':cw+'px',
                'height':cw+"px",
            });
        } else {
            var cw = $('.connect-grid').width() / 2;
            $('.connect-grid .connect-info').css({'height':cw+'px', "width": cw+"px"});
            $(".connnect-grid .connect-map").css({
                "width" : cw+"px"
            })
        }
    });

    if ($(window).width() <= 700) {
        var cw = $('.connect-grid').width();
        $('.connect-grid .connect-info').css({
            'height': "100%",
        });
        $('.connect-grid input').css({
            'width': cw - 100 +"px",
        });
        $('.connect-grid button').css({
            'margin-top': 10 +"px",
        });
    }

    $(window).resize(function(){
        if ($(window).width() <= 700) {
            var cw = $('.connect-grid').width();
            $('.connect-grid .connect-info').css({
                'height': "100%",
            });

            $('.connect-grid input').css({
                'width': cw - 100 +"px",
            });

            $('.connect-grid button').css({
                'margin-top': 10 +"px",
            });
        }
    });

    // ---------------------------------------------------
    //
    // -- Resume JavaScript
    //
    // ---------------------------------------------------
    class ResumeLightbox {
        constructor() {
            this.data = {};
            this.length = 0;
            this.initClick();
            this.initModal();
        }

        initClick() {
            let images = document.getElementsByClassName("resume-btn");
            for (var i = 0; i < images.length; i++) {
                (function(index){
                    images[i].onclick = function(){
                        openResumeLightBox(index) ;
                    }    
                })(i);
            }
        }
        initModal() {
            let resume = document.getElementById("resume");
            let modal = document.createElement('div');

            modal.setAttribute("id", "myModal");
            modal.classList.add("turn-off-light");

            let codeBlock = '<div class="modal-content">' + 
                                '<span class="close cursor" onclick="closeResumeModal()">&#10005;</span>' +
                                '<div id="resumeModal"></div>'+
                            '</div>';
            modal.innerHTML = codeBlock;
            resume.insertAdjacentElement("afterend", modal)
        }
    }

    const newLightbox = new ResumeLightbox();
    let idx = 0;

    function openResumeLightBox(index) {
        closeNav();
        idx = index;
        $("html").css({
            "overflow" : "hidden"
        })
        let myModal = document.getElementById("myModal");
        let resumeModal = document.getElementById("resumeModal");
        let codeBlock = '<div class="mobile-resume container shadow bg-white p-5 mb-5 view-port">' +
        '<div class="Name mx-auto row mt-3 mx-auto">' +
        '<h1 class="col-sm-12 col-md-6">Angelo Liwanag</h1>' +
        '</div>' +
        
        '<div class="contact row mt-3 mx-auto mb-5">' +
        '<div class="col-sm-12 col-md-6 extend-view">' +
                '<div class="email">' +
                    '<i class="far fa-envelope text-primary"></i>' +
                    '<a class="d-inline-block text-secondary">angeloliwanag75@gmail.com</a>' +
                '</div>' +
                '<div class="location">' +
                    '<i class="fas fa-map-marker-alt text-primary"></i>' +
                    '<a class="d-inline-block text-secondary">Long Beach, CA</a>' +
                '</div>' +
            '</div>' +
            '<div class="col-sm-12 col-md-6 extend-view">' +
                '<div class="LinkedIn">' +
                    '<i class="fab fa-linkedin text-primary"></i>' +
                    '<a class="d-inline-block text-secondary" target="_blank" href="https://www.linkedin.com/in/angelo-liwanag/">linkedin.com/in/angelo-liwanag</a>' +
                '</div>' +
                '<div class="GitHub">' +
                    '<i class="fab fa-github-square text-primary"></i>' +
                    '<a class="d-inline-block text-secondary" target="_blank" href="https://github.com/AngeloLiwanag\">github.com/AngeloLiwanag</a>' +
                '</div>' +
            '</div>' +
        '</div>' +

        '<div class="body-container row mt-4 mx-auto">' +
            '<div class="col-sm-12 col-md-6 extend-view">' +
                '<div class="experience mb-5">' +
                    '<h3 class="spicy-resume-title">PROFESSIONAL WORK EXPERIENCE</h3>' +
                
                    '<div class="volatile-studios">' +
                        '<h5 class="text-primary">Volatile Studios</h5>' +
                        '<b>Occupation: Associate Web Developer</b>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i>' +
                        'February 2020 - Present</b>' +
                        '<div class="m-2">' +
                            '<p>' +
                                'Designed UX/UI wireframes based on 25+ clients’ ideas via Adobe XD and converted into a fully functional responsive prototype that matches the customer’s vision, which resulted in a positive end-user experience' +
                            '</p>' +
                            '<p>' +
                                'Developed, tested, and deployed responsive web pages through a Custom Management System that manipulates technologies such as HTML5, CSS3, and JavaScript while simultaneously collaborating with back-end developers for any changes in functionality ' +
                            '</p>' +
                        '</div>' +
                    '</div>' +

                    '<div class="jpmorgan mt-3">' +
                        '<h5 class="text-primary">JPMorgan Chase & Co.</h5>' +
                        '<b>Occupation: Software Engineer Virtual Internship</b>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i>' +
                        'April 2020 - May 2020</b>' +
                        '<p class="m-2">' +
                            'Implemented the use of open source code in preparation for data visualization and interaction with stock price data feeds and the use of systems for data analysis' +
                    '</p>' +
                        '<p class="m-2">' +
                            'Utilized the company’s in-house analytics, perspective and contributed to an interface to display an assortment of live and historical data for traders at their workstation' +
                        '</p>' +
                    '</div>' +
                '</div> ' +
                '<div class="projects mb-5">' +
                    '<h3 class="spicy-resume-title">TECHNICAL PROJECTS</h3>' +
                    '<div class="bright-event-rentals mt-3">' +
                        '<h5 class="text-primary">Bright Event Rentals</h5>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i>' +
                        'August 2020 – December 2020</b>' +
                        '<p class="m-2">' +
                            'Drafted and finalized automated global emailing templates for the company’s cart reservations, order payments, and customer service backlogs, which are sent to over 23,000+ clients a year' +
                        '</p>' +
                        '<p class="m-2">' +
                            'Rehabilitated the company’s Instagram API by integrating embedded endpoints from any recent Instagram post to the company’s Custom Management System resulting in an increase in customer engagement' +
                        '</p>' +
                    '</div>' +
                    '<div class="american-rentals mt-3">' +
                        '<h5 class="text-primary">American Rentals</h5>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i>' +
                        'March 2020 – July 2020</b>' +
                        '<p class="m-2">' +
                            'Assembled a custom-built language translator that converts website content from English to Spanish, leading to an increase in sales and interactions with the Spanish speaking demographic' +
                        '</p>' +
                        '<p class="m-2">' +
                            'Revamped the company’s website from the ground up starting with designing the website’s wireframe, producing a clickable prototype, and finalizing its stage developments' +
                        '</p>' +
                    '</div>' +
                    '<div class="auto-checkout-bot mt-3">' +
                        '<h5 class="text-primary">Auto-Checkout Bot</h5>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i>' +
                        'April 2020 – May 2020</b>' +
                        '<p class="m-2">' +
                            'Engineered an automated script that allows users to access the Supreme New York website and filter through items dynamically in a matter of 2-3 seconds without any delay or re-captcha' +
                        '</p>' +
                        '<p class="m-2">' +
                            'Generated close to $160 per week throughout Supreme New York’s seasonal drops by marketing auto-checkout slots to the general public'  +
                        '</p>' +
                    '</div>' +
                '</div>' +
            '</div>' +
            
            '<div class="col-sm-12 col-md-6 extend-view">' +
                '<div class="tech-skill mb-5">' +
                    '<h3 class="spicy-resume-title">TECHNICAL SKILLS</h3>' +
                    '<p><span class="text-primary">Languages:</span> Python, JavaScript, C#, CSS3, HTML5</p>' +
                    '<p><span class="text-primary">Frameworks/Libraries:</span> Django, Angular, React, Redux, Express.js, Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, jQuery</p>' +
                    '<p><span class="text-primary">Databases:</span> MySQL, NoSQL, MongoDB</p>' +
                    '<p><span class="text-primary">UX/UI Softwares:</span> AdobeXD, Photoshop</p>' +
                '</div>' +
                
                '<div class="education mb-5">' +
                    '<h3 class="spicy-resume-title">EDUCATION</h3>' +
                    '<div class="CSULB">' +
                        '<h5 class="text-primary">California State University, Long Beach</h5>' +
                        '<b class="d-block">Estimated Graduation: Spring 2021</b>' +
                        '<b>Major: Business Economics</b>' +
                    '</div>' +
                    '<div class="coding-dojo mt-3">' +
                        '<h5 class="text-primary">Coding Dojo, Costa Mesa</h5>' + 
                        '<b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - August 2019</b>' +
                        '<div class="m-2">' +
                            '<p>Completed an intensive 14 week, full-time web development program, which included the introduction of web fundamentals, implementation of algorithms, and 3 full-stack languages</p>' +
                        '</div>' +
                    '</div>' +
                '</div>' +

                '<div class="leadership mb-5">' +
                    '<h3 class="spicy-resume-title">LEADERSHIP</h3>' +
                    '<div class="zeta-president">' +
                        '<h5 class="text-primary">Zeta Phi Rho</h5>' +
                        '<b> Leadership Role: Chapter President</b>' +
                        '<b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - Present</b>' +
                        '<div class="m-2">' +
                        '<p>Established bi-weekly meetings with the head of the Fraternity Sorority Life Advisor in order to report weekly minutes, and also developed school approved events</p>' +
                            '<p>Coordinated regional district chapter meetings to obtain chapter wide Fraternity Liability Insurance, and modified Chapter Bylaws and Policy Procedures</p>' +
                        '</div>' +
                    '</div>' +
                '</div>' +

                '<div class="interest-hobbies mb-5">' +
                    '<h3 class="spicy-resume-title">INTEREST & HOBBIES</h3>' +
                    '<p>Programmer, Breakdancer, Snowboarder, Corgi Dad, Fitness Enthusiast, Marble Macaron Baker</p>' +
                    '</div>' +
                '</div>' +
            '</div>' +
        '</div>' +
    '</div>';
        
        resumeModal.innerHTML = codeBlock;
        myModal.classList.remove("turn-off-light");
        myModal.classList.add("turn-on-light");

    }

    function closeResumeModal() {
        myModal.classList.remove("turn-on-light");
        myModal.classList.add("turn-off-light");
        $("html").css({
            "overflow" : "auto"
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADO3yb-vlw0JywwS1Gu7Yw9f-53_AtmJI&callback=initMap"
async defer></script>
