@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head>
<body>
    <div class="container">
        <div class="bg-white w-70 mx-auto p-5 mt-3">
            <div class="d-flex justify-content-center row">
                <img class="angelo-pic shadow-lg bg-white fade-in" src="~/images/AngeloLiwanag.JPG" alt="..." class="img-thumbnail d-inline-block col">
                <div class="w-30"></div>
                <div class="d-inline-block col pt-5">
                    <h1 class="text-primary text-spread-1 name">Angelo<br> Liwanag</h1>
                    <hr class="hr-black">
                    <h3 class="text-success text-spread-2">Full-Stack<br> Developer</h3>
                    <a asp-controller="Home" asp-action="Resume" class="btn btn-outline-primary mt-3">View Resume</a>
                </div>
            </div>
        </div>
    </div>
</body>
