@{
    ViewData["Title"] = "Project";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
</head>
<div class="container bg-white view-port">
    <div class="project-hero-grid">
        <div class="col-10">
            <h3 class="spicy-project-title">Live Websites</h3>
            <p>
                Over the past year I've been working professionally as an Associate Web Developer and I'm
                 very grateful to have the opportunity to work with many clients across the United 
                 States. I've worked on a variety of projects ranging from eCommerce Websites to 
                 Informational Websites and I even made my own Supreme New York Auto-Checkout Bot! I 
                 learned so much this year and I hope you enjoy my work!
            </p>
        </div>
    </div>
    
    <div class="project-grid">
        <a href="https://american-rentals.com/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/American_Rentals_IMG.png" alt="American Rentals Website">
        </a>
        <a href="https://www.greenriverrental.com/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/Green_River_Rentals_IMG.png" alt="Green River Rentals Website">
        </a>
        <a href="https://bright.com/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/Bright_IMG.png" alt="Bright Event Rentals Website">
        </a>
        <a href="https://www.aspenrentall.com/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/Aspen_IMG.png" alt="Aspen Rentals Website">
        </a>
        <a href="http://www.signatureparty.com/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/Signature_IMG.png" alt="Aspen Rentals Website">
        </a>
        <a href="https://www.metrans.org/" target="_blank">
            <img class="img-thumbnail img-fluid shadow project mb-5" src="~/images/Metrans_IMG.png" alt="Metrans Transportation Center Website">
        </a>
        <video style="width: 100%; object-fit: cover" class="img-thumbnail img-fluid shadow project mb-5" controls>
            <source src="~/images/UNTITLED BOT.mp4" type="video/mp4">
            <source src="~/images/UNTITLED BOT.mp4" type="video/ogg">
            Your browser does not support HTML video.
        </video>
    </div>
</div>