@{
    ViewData["Title"] = "Project";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
</head>
<div class="container bg-white">
    <div class="mt-5">
        <h3>Passion Projects</h3>
    </div>
    <div class="row mt-5">
        <div class="col">
            <a href="http://54.161.93.198/" target="_blank">
                <img class="img-thumbnail img-fluid shadow project" src="~/images/StockPalaceHome.png" alt="">
            </a>
        </div>
        <div class="col fade-in">
            <h5 class="text-success">Stock Palace</h5>
            <p>Stock Palace is a streetwear eCommerce application created along with two other individuals. All visual aspects were created by hand. This website was created with the MEAN stack. Technologies used were HTML, CSS, JavaScript. Front-end libraries used were Angular and Bootstrap. Back-end libraries used were Express.js and Node.js. Databases used was MongoDB. Hosed on Amazon Web Services. </p>
            <a href="http://54.161.93.198/" class="btn btn-outline-primary btn-sm" target="_">Demo</a>
            <a href="https://github.com/AngeloLiwanag/MEAN-Stock-Palace" target="_blank" class="btn btn-outline-primary btn-sm">View Code</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col fade-in">
            <h5 class="text-success">NotePad</h5>
            <p>NotePad is a web application that allows users to notes which was created with another individual. Designed and implemented the subtle background and light/dark mode feature. This website was created with Python. Technologies used were HTML, CSS, JavaScript. Front-end libraries used was Bootstrap. Back-end framework used was Django. Databases used was MySQL. Hosted on Amazon Web Services.</p>
            <a href="http://3.81.22.204/" class="btn btn-outline-primary btn-sm" target="_blank">Demo</a>
            <a href="https://github.com/AngeloLiwanag/Python-NotePad" target="_blank" class="btn btn-outline-primary btn-sm">View Code</a>
        </div>
        <div class="col">
            <a href="http://3.81.22.204/" target="_blank">
                <img class="img-thumbnail img-fluid shadow project" src="~/images/MainNotePadScreenShot.png" alt="">
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img class="img-thumbnail img-fluid shadow project" src="~/images/DogscoverHomePage.png" alt="">
        </div>
        <div class="col fade-in">
            <h5 class="text-success">Dogscover</h5>
            <p>Dog Scover is a remake of Kick Starter but made purely for dogs. Innovators can display their dog products and receive backing and funding for their products to launch. This website was created with C#. Technologies used were HTML, CSS, JavaScript. Front-end libraries used was Bootstrap. Back-end framework used was ASP.NET Core.</p>
            <a href="https://github.com/AngeloLiwanag/CSharp-Dogscover" class="btn btn-outline-primary btn-sm">View Code</a>
        </div>
    </div>
</div>
