@{
    ViewData["Title"] = "Resume";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head>
<div class="container shadow-lg bg-white p-5 mb-5">
    <div class="Name mx-auto">
        <h1 class="angelo">ANGELO LIWANAG</h1>
        <h3 class="text-secondary dev">Full-Stack Engineer</h3>
    </div>

    <div class="contact row mt-3 mx-auto">
        <div class="col">
            <div class="email">
                <i class="far fa-envelope text-success"></i>
                <a class="d-inline-block">angeloliwanag75@gmail.com</a>
            </div>
            <div class="location">
                <i class="fas fa-map-marker-alt text-success"></i>
                <a class="d-inline-block">Long Beach, CA</a>
            </div>
        </div>
        <div class="col">
            <div class="LinkedIn">
                <i class="fab fa-linkedin text-success"></i>
                <a class="d-inline-block text-secondary" target="_blank" href="https://www.linkedin.com/in/angelo-liwanag/">linkedin.com/in/angelo-liwanag</a>
            </div>
            <div class="GitHub">
                <i class="fab fa-github-square text-success"></i>
                <a class="d-inline-block text-secondary" target="_blank" href="https://github.com/AngeloLiwanag\">github.com/AngeloLiwanag</a>
            </div>
        </div>
    </div>

    <div class="body-container row mt-4 mx-auto">
        <div class="col">
            <div class="summary">
                <h3>PROFESSIONAL SUMMARY</h3>
                <hr>
                <p>Self-driven, Full-Stack Engineer with a passion for creating, designing, and complex problem solving; an individual who strives to continuously influence others and improve upon his skill set as an engineer. Has a strong desire to learn about programming outside of Business, while also possessing hands on experience with three different full-stack applications: Python, MEAN/MERN, and C#/.NET. Also, a strong team player who can compromise and communicate efficiently and effectively.</p>
            </div>
            <div class="experience">
                <h3>WORK EXPERIENCE</h3>
                <hr>
            
                <div class="volatile-studios">
                    <h5 class="text-success">Volatile Studios</h5>
                    <b>Occupation: Associate Web Developer</b>
                    <b class="d-block"><i class="far fa-calendar-alt"></i>
                    January 2020 - Present</b>
                    <div class="m-2">
                        <p>Designed UX/UI wireframes based on the client’s ideas via Adobe XD and converted into a fully functional responsive prototype that matches the customer’s vision, which resulted in a positive end user experience.</p>
                        <p>Developed, tested, and deployed responsive web pages through a Custom Management System that manipulates technologies such as HTML5, CSS3 and JavaScript while simultaneously collaborating with back-end developers for any changes in functionality.</p>
                    </div>
                </div>
            </div> 
            <div class="projects">
                <h3>PROJECTS & VIRTUAL INTERNSHIPS</h3>
                <hr>

                <div class="stock-palace mt-3">
                    <h5 class="text-success">JPMorgan Chase & Co.</h5>
                    <b>Occupation: Software Engineer Virtual Internship</b>
                    <p class="m-2">Implemented the use of open source code in preparation for data visualization and interaction with stock price data feeds and the use of systems for data analysis.</p>
                </div>

                <div class="stock-palace mt-3">
                    <h5 class="text-success">Auto-Checkout Bot</h5>
                    <b>Technologies Utilized: JavaScript</b>
                    <p class="m-2">Auto-Checkout Bot is an automated script that allows for users to access the Supreme New York website and filter through items in a matter of 2-3 seconds without any delay or re-captcha.</p>
                </div>

                <div class="stock-palace mt-3">
                    <h5 class="text-success">Stock Palace</h5>
                    <b>Technologies Utilized: MongoDB, Express, Angular, Node.js</b>
                    <p class="m-2">Stock Palace is an eCommerce website inspired by StockX, which implemented Angular’s components to create a shopping cart that stores the user’s items for present or future purchase in order to optimize the user’s selling and buying experience.</p>
                </div>

                <div class="note-pad">
                    <h5 class="text-success">NotePad</h5>
                    <b>Technologies Utilized: Python, Django</b>
                    <p class="m-2">NotePad is a web application that allows users to take notes; it features a sidebar which allows for custom categories and subcategories, while also giving the user the ability to filter through certain categories. In addition to this, it is capable of enhancing the user's experience with a light and dark mode setting.</p>
                </div>

                <div class="dog-scover mt-3">
                    <h5 class="text-success">Dogscover</h5>
                    <b>Technologies Utilized: C#, ASP.NET Core</b>
                    <p class="m-2">Dogscover is a dedicated startup website made solely for dog products. Innovators can display their products, as well as receive backing and funding for the aforementioned to launch.</p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="tech-skill">
                <h3>TECHNICAL SKILLS</h3>
                <hr>
                <p><span class="text-success">Languages:</span> Python, JavaScript, C#, CSS3, HTML5</p>
                <p><span class="text-success">Frameworks/Libraries:</span> Django, Angular, React, Redux, Express.js, Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, jQuery</p>
                <p><span class="text-success">Databases:</span> MySQL, NoSQL, MongoDB</p>
                <p><span class="text-success">UX/UI Softwares:</span> AdobeXD, Photoshop</p>
            </div>
            
            <div class="education">
                <h3>EDUCATION</h3>
                <hr>
                
                <div class="CSULB">
                    <h5 class="text-success">California State University, Long Beach</h5>
                    <b class="d-block">Estimated Graduation: Spring 2021</b>
                    <b>Major: Business Economics</b>
                </div>
                
                <div class="coding-dojo mt-3">
                    <h5 class="text-success">Coding Dojo, Costa Mesa</h5>
                    <b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - August 2019</b>
                    <div class="m-2">
                        <p>Completed an intensive 14 week, full-time web development program, which included the introduction of web fundamentals, implementation of algorithms, and 3 full-stack languages.</p>
                    </div>
                </div>
            </div>

            <div class="leadership">
                <h3>LEADERSHIP</h3>
                <hr>     
                
                <div class="zeta-president">
                    <h5 class="text-success">Zeta Phi Rho</h5>
                    <b> Leadership Role: Chapter President</b>
                    <b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - Present</b>
                    <div class="m-2">
                        <p>Established bi-weekly meetings with the head of the Fraternity Sorority Life Advisor in order to report weekly minutes, and also developed school approved events.</p>
                        <p>Coordinated regional district chapter meetings to obtain chapter wide Fraternity Liability Insurance, and modified Chapter Bylaws and Policy Procedures.</p>
                    </div>
                </div>
                
                <div class="zeta-treasurer">
                    <h5 class="text-success">Zeta Phi Rho</h5>
                    <b> Leadership Role: Executive Treasurer</b>
                    <b class="d-block"><i class="far fa-calendar-alt"></i> August 2018 - May 2019</b>
                    <div class="m-2">
                        <p>Effectively communicated with other campus organizations to successfully plan and organize 12 events that helped raised $850 in funds for a variety of causes, such as the Los Angeles AIDS Walk, the Long Beach Rescue Mission, and various beach clean ups, just to name a few.</p>
                        <p>Composed weekly spreadsheet presentations for the executive board of Zeta Phi Rho Fraternity in regards to the organization’s income statement, retained earnings, and total budget.</p>
                    </div>
                </div>
            </div>

            <div class="interest-hobbies">
                <h3>INTEREST & HOBBIES</h3>
                <hr>     

                <p>Programmer, Breakdancer, Snowboarder, Corgi Dad, Fitness Enthusiast, Marble Macaron Baker</p>
                </div>
            </div>
        </div>
    </div>
</div>
