@{
    ViewData["Title"] = "Resume";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/28d5bf3399.js"></script>
</head>
<div class="mobile-resume container shadow bg-white p-5 mb-5 mt-5">
    <div class="Name mx-auto">
        <img class="img-fluid resume-logo" src="~/images/Angelo_Logo.png"  alt="Logo">
    </div>

    <div class="contact row mt-3 mx-auto mb-5">
        <div class="col-md-6">
            <div class="email">
                <i class="far fa-envelope text-primary"></i>
                <a class="d-inline-block">angeloliwanag75@gmail.com</a>
            </div>
            <div class="location">
                <i class="fas fa-map-marker-alt text-primary"></i>
                <a class="d-inline-block">Long Beach, CA</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="LinkedIn">
                <i class="fab fa-linkedin text-primary"></i>
                <a class="d-inline-block text-secondary" target="_blank" href="https://www.linkedin.com/in/angelo-liwanag/">linkedin.com/in/angelo-liwanag</a>
            </div>
            <div class="GitHub">
                <i class="fab fa-github-square text-primary"></i>
                <a class="d-inline-block text-secondary" target="_blank" href="https://github.com/AngeloLiwanag\">github.com/AngeloLiwanag</a>
            </div>
        </div>
    </div>

    <div class="body-container row mt-4 mx-auto">
        <div class="col-md-6">
            <div class="summary mb-5">
                <h3 class="spicy-resume-title">PROFESSIONAL SUMMARY</h3>
                <p>Self-driven, Full-Stack Engineer with a passion for creating, designing, and complex problem solving; an individual who strives to continuously influence others and improve upon his skill set as an engineer. Has a strong desire to learn about programming outside of Business, while also possessing hands on experience with three different full-stack applications: Python, MEAN/MERN, and C#/.NET. Also, a strong team player who can compromise and communicate efficiently and effectively.</p>
            </div>
            <div class="experience mb-5">
                <h3 class="spicy-resume-title">WORK EXPERIENCE</h3>
            
                <div class="volatile-studios">
                    <h5 class="text-primary">Volatile Studios</h5>
                    <b>Occupation: Associate Web Developer</b>
                    <b class="d-block"><i class="far fa-calendar-alt"></i>
                    January 2020 - Present</b>
                    <div class="m-2">
                        <p>Designed UX/UI wireframes based on the client’s ideas via Adobe XD and converted into a fully functional responsive prototype that matches the customer’s vision, which resulted in a positive end user experience.</p>
                        <p>Developed, tested, and deployed responsive web pages through a Custom Management System that manipulates technologies such as HTML5, CSS3 and JavaScript while simultaneously collaborating with back-end developers for any changes in functionality.</p>
                    </div>
                </div>
            </div> 
            <div class="projects mb-5">
                <h3 class="spicy-resume-title">PROJECTS & VIRTUAL INTERNSHIPS</h3>

                <div class="stock-palace mt-3">
                    <h5 class="text-primary">JPMorgan Chase & Co.</h5>
                    <b>Occupation: Software Engineer Virtual Internship</b>
                    <p class="m-2">Implemented the use of open source code in preparation for data visualization and interaction with stock price data feeds and the use of systems for data analysis.</p>
                </div>

                <div class="stock-palace mt-3">
                    <h5 class="text-primary">Auto-Checkout Bot</h5>
                    <b>Technologies Utilized: JavaScript</b>
                    <p class="m-2">Auto-Checkout Bot is an automated script that allows for users to access the Supreme New York website and filter through items in a matter of 2-3 seconds without any delay or re-captcha.</p>
                </div>

            </div>
        </div>
        
        <div class="col-md-6">
            <div class="tech-skill mb-5">
                <h3 class="spicy-resume-title">TECHNICAL SKILLS</h3>
                <p><span class="text-primary">Languages:</span> Python, JavaScript, C#, CSS3, HTML5</p>
                <p><span class="text-primary">Frameworks/Libraries:</span> Django, Angular, React, Redux, Express.js, Node.js, Mongoose, ASP.NET Core, Bootstrap, Materialize, jQuery</p>
                <p><span class="text-primary">Databases:</span> MySQL, NoSQL, MongoDB</p>
                <p><span class="text-primary">UX/UI Softwares:</span> AdobeXD, Photoshop</p>
            </div>
            
            <div class="education mb-5">
                <h3 class="spicy-resume-title">EDUCATION</h3>
                
                <div class="CSULB">
                    <h5 class="text-primary">California State University, Long Beach</h5>
                    <b class="d-block">Estimated Graduation: Spring 2021</b>
                    <b>Major: Business Economics</b>
                </div>
                
                <div class="coding-dojo mt-3">
                    <h5 class="text-primary">Coding Dojo, Costa Mesa</h5>
                    <b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - August 2019</b>
                    <div class="m-2">
                        <p>Completed an intensive 14 week, full-time web development program, which included the introduction of web fundamentals, implementation of algorithms, and 3 full-stack languages.</p>
                    </div>
                </div>
            </div>

            <div class="leadership mb-5">
                <h3 class="spicy-resume-title">LEADERSHIP</h3>     
                
                <div class="zeta-president">
                    <h5 class="text-primary">Zeta Phi Rho</h5>
                    <b> Leadership Role: Chapter President</b>
                    <b class="d-block"><i class="far fa-calendar-alt"></i> May 2019 - Present</b>
                    <div class="m-2">
                        <p>Established bi-weekly meetings with the head of the Fraternity Sorority Life Advisor in order to report weekly minutes, and also developed school approved events.</p>
                        <p>Coordinated regional district chapter meetings to obtain chapter wide Fraternity Liability Insurance, and modified Chapter Bylaws and Policy Procedures.</p>
                    </div>
                </div>
            
            </div>

            <div class="interest-hobbies mb-5">
                <h3 class="spicy-resume-title">INTEREST & HOBBIES</h3>     

                <p>Programmer, Breakdancer, Snowboarder, Corgi Dad, Fitness Enthusiast, Marble Macaron Baker</p>
                </div>
            </div>
        </div>
    </div>
</div>
